body {
  font-family: 'ChakraPetch', sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  min-width: 200px;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;

  p {
    span {
      color: #def041;
    }
  }
}

.logo {
  width: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;

  font-size: 12px;

  a {
    display: flex;
    align-items: center;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: #3dfd02;
  }
}

.instruction {
  text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #def041;
}

input:focus + .slider {
  box-shadow: 0 0 1px #def041;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}